.homepageContainer {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}


.imageNdesc {
  position: relative;
  width: 100%;
}

.imageContainer {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 0px 24px 36px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 0px 24px 36px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 24px 36px rgba(255, 255, 255, 1);
}

.image {
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  animation: 0.7s ease-in appearing forwards;
}

.descriptionContainer {
  color: black;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  opacity: 0;
  animation: 1s blinking forwards;
  animation-delay: 0.6s;
}

.description {
  position: relative;
  padding: 15px 12px;
}

.description::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: white;
  filter: blur(2px);
  opacity: 0.7;
  border-radius: 6px;
}

.description span:nth-child(odd) {
  color: #17265d;
}

.description span:nth-child(even) {
  color: #263a81;
}

/* .homepageContainer::after{
  content: "";
  width: 60%;
  aspect-ratio: auto;
  min-height: 320px;
  background-image: url('../images/homepageBackground.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 1);
-moz-box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 1);
box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 1);
} */

/******* ANIMATIONS ********/

@keyframes appearing {
  100% {
    opacity: 0.6;
  }
}

@keyframes blinking {
  100% {
    opacity: 1;
  }
}