.primaryButton {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--primaryDark);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    align-self: center;
}

.primaryButton:hover {
    background-color: var(--primaryLight);
    color: rgb(243, 238, 238);
    transition: 0.5s;
}